{% extends 'layouts/layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/multiSelectTag.css">
<script src="/static/js/multiSelectTag.js"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<div class="page-content">
    <h1>{% block header %}{% endblock %}</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="{% block action %}{% endblock %}" method="post" enctype="multipart/form-data">
        <label for="name" required="">Name</label>
        <input type="text" id="name" name="name" required value="{{ item.name }}">

        <div class="price-input">
            <label for="price" required="">Price</label>
            <span class="dollar-sign">$</span>
            <input type="number" id="price" name="price" value="{{ item.price }}" required min="0" step=".01">
        </div>

        <label for="expiry" required="">Expiration Date</label>
        <input type="date" id="expiry" name="expiry" value="{{ item.expiry.strftime('%Y-%m-%d') }}" required>

        <label for="tags" required="">Tags</label>
        <select id="tags" name="tags" multiple required>
            {% for tag, selected in item.tags.items() %}
                <option value="{{ tag }}" {% if selected %}selected{% endif %}>{{ tag }}</option>
            {% endfor %}
        </select>

        <div>
            <p>Don't see a tag you want? Add custom tags:</p>
            <input type="text" id="custom_tags" name="custom_tags" placeholder="Tags separated by commas" value="{{ item.custom_tags }}">
        </div>
        
        <label for="allergens">Allergens</label>
        <select id="allergens" name="allergens" multiple>
            {% for allergen, selected in item.allergens.items() %}
                <option value="{{ allergen }}" {% if selected %}selected{% endif %}>{{ allergen }}</option>
            {% endfor %}
        </select>
        
        <label for="photo" {% block photo_required1 %}{% endblock %}>Photo</label>
        <input type="file" id="photo" name="photo" value="{{ item.photo }}" {% block photo_required2 %}{% endblock %}>
        
        {% block img %}{% endblock %}

        <label for="comments">Description</label>
        <textarea id="comments" name="comments" rows="4" cols="50">{{ item.comments }}</textarea>

        <h3>Meetup Location</h3>

        {% block address_notif %}{% endblock %}

        <label for="street" required="">Street</label>
        <input type="text" id="street" name="street" value="{{ item.address.street }}" required>

        <label for="city" required="">City</label>
        <input type="text" id="city" name="city" value="{{ item.address.city }}" required>

        <label for="state" required="">State</label>
        <input type="text" id="state" name="state" value="{{ item.address.state }}" required>

        <label for="zipcode" required="">Zipcode</label>
        <input type="text" id="zipcode" name="zipcode" value="{{ item.address.zipcode }}" required>
        
        <input type="submit" value="{% block button_value %}{% endblock %}">
    </form>
</div>
<script>
    new MultiSelectTag('tags');
    new MultiSelectTag('allergens');
</script>

{% endblock %}
