{% extends 'layouts/layout.html' %}

{% block title %}Listings{% endblock %}

{% block content %}

<div class="page-content">
    <h1>Listings</h1>
    <div class="button-container">
        <a href="{{url_for('add')}}" class="btn">Add Listing</a>
        <a href="{{url_for('search', exclude_allergens='on')}}" class="btn">Search Food</a>
    </div>
    
    <div class="card-grid">
        {% for food in listings %}
            <div class="card" onclick="location.href='/listings/{{ food._id }}'">
                <img src="/images/{{ food.photo }}" alt="{{ food.name }}">
                <h2>{{ food.name }}</h2>
                <div class="card-info">
                    <p class="price">$ {{ food.price }}</p>
                    {% if food.user_id != user_id and food.distance %}
                        <p class="distance">
                                {% if food.distance > 1000 %}
                                    {{ (food.distance/1000)|round(1) }} km away
                                {% else %}
                                    {{ food.distance|round(1) }} m away
                                {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}