{% extends 'layouts/layout.html' %}

{% block title %}Search Food{% endblock %}

{% block content %}

<div class="page-content">
    <h1>Search Food</h1>

    <div class="search">
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search...">

            <label for="price">Price:</label>
            <select name="price" id="price">
                <option value="">-- Select --</option>
                <option value="_5">Under $5</option>
                <option value="5_10">$5 to $10</option>
                <option value="10_15">$10 to $15</option>
                <option value="15_20">$15 to $20</option>
                <option value="20_">$20 and above</option>
            </select>

            <label for="sortby">Sort by:</label>
            <select name="sortby" id="sortby">
                <option value="">-- Select --</option>
                <option value="newest">Newest Additions</option>
                <option value="priceLH">Price: Lowest to Highest </option>
                <option value="priceHL">Price: Highest to Lowest </option>
            </select>

            <input type="submit" value="Search">
        </form>
    </div>

    <div class="card-grid">
        {% for food in listings %}
        <div class="card" onclick="location.href='/listings/{{ food._id }}'">
            <img src="/images/{{ food.photo }}" alt="{{ food.name }}">
            <h2>{{ food.name }}</h2>
            <div class="card-info">
                <p class="price">$ {{ food.price }}</p>
                {% if food.user_id != user_id %}
                <p class="distance">
                    {% if food.distance > 1000 %}
                    {{ (food.distance/1000)|round(1) }} km away
                    {% else %}
                    {{ food.distance|round(1) }} m away
                    {% endif %}
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}