{% extends 'layouts/layout.html' %}

{% block title %}Search Food{% endblock %}

{% block content %}

<div class="page-content">
    <h1>Search Food</h1>

    <div class="search">
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search..." value="{{ query }}">

            <label for="price">Price</label>
            <select name="price" id="price">
                <option value="">-- Select --</option>
                <option value="_5" {% if price == '_5' %}selected{% endif %}>Under $5</option>
                <option value="5_10" {% if price == '5_10' %}selected{% endif %}>$5 to $10</option>
                <option value="10_15" {% if price == '10_15' %}selected{% endif %}>$10 to $15</option>
                <option value="15_20" {% if price == '15_20' %}selected{% endif %}>$15 to $20</option>
                <option value="20_" {% if price == '20_' %}selected{% endif %}>$20 and above</option>
            </select>

            <label for="sortby">Sort by</label>
            <select name="sortby" id="sortby">
                <option value="">-- Select --</option>
                <option value="nearest" {% if sort == 'nearest' %}selected{% endif %}>Distance</option>
                <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Newest Additions</option>
                <option value="priceLH" {% if sort == 'priceLH' %}selected{% endif %}>Price: Lowest to Highest </option>
                <option value="priceHL" {% if sort == 'priceHL' %}selected{% endif %}>Price: Highest to Lowest </option>
            </select>
            
            <div class="exclude-allergens">
                <label for="exclude_allergens">Exclude Allergens:</label>
                <input type="checkbox" name="exclude_allergens" {% if exclude_allergens %}checked{% endif %}/>
            </div>

            <input type="submit" value="Search">
        </form>
    </div>

    <div class="card-grid">
        {% for food in listings %}
        <div class="card" onclick="location.href='/listings/{{ food._id }}'">
            <img src="/images/{{ food.photo }}" alt="{{ food.name }}">
            <h2>{{ food.name }}</h2>
            <div class="card-info">
                <p class="price">$ {{ food.price }}</p>
                {% if food.user_id != user_id and food.get('distance') != None %}
                <p class="distance">
                    {% if food.distance > 1000 %}
                    {{ (food.distance/1000)|round(1) }} km away
                    {% else %}
                    {{ food.distance|round(1) }} m away
                    {% endif %}
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}