/* Apply basic styling to the food list */
.foodItem {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* Style each food item */
/* .food-item {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.food-item {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the food name */
.food-name {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Style the food price */
.food-price {
    font-size: 18px;
    color: #666;
}

/* Style the food comments */
.food-comments {
    font-size: 16px;
    color: #888;
}

img {
    max-width: 100%;
    width: auto;
    height : 400px;
    display: block;
}