* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav,
footer {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li,
.logo {
    padding: 10px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #444444;
}

nav a:hover {
    color: #000;
}

nav .active {
    text-decoration: underline;
}

.page-content {
    margin: 0 auto;
    padding: 0 20px;
}

.page-content h1, a {
    margin: 1rem 0;
    display: inline-block;
    padding-right: 20px;
}

.error {
    background-color: #b20202;
    color: white;
    padding: 1rem;
}

.success{
    background-color: #04AA6D;
    color: white;
    padding: 1rem;
}

form {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=file],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    padding: 15px;
}

input[type=submit]:hover {
    opacity: 1;
}

label[required]:after {
    content: " *";
    color: red;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

hr {
    border: 1px solid #e7e7e7;
    margin: 1rem 0;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.price-input {
    position: relative;
}

.dollar-sign {
    font-size: medium;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-45%);
}

#price {
    padding-left: 25px;
}