@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   line-height: 1.5;
   color: #333;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}


nav,
footer {
   border: 1px solid #e7e7e7;
   background-color: #FDFDFD;
}


nav {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
   font-family: "Josefin Sans", sans-serif;
}


nav ul {
   list-style-type: none;
   display: flex;
}


nav li,
.logo {
   padding: 10px;
   color: #F6CA83;
}


.logo {
   letter-spacing: 1.2px;
   font-size: 22px;
   font-weight: bold;
}


nav a {
   text-decoration: none;
   color: #444444;
}


nav a:hover {
   color: #000;
}


nav .active a {
   border-bottom: 4px solid #F6CA83;
}

.button {
   display: inline-block;
   font-weight: 400;
   color: #fff;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #007bff;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .25rem;
   text-decoration: none;
}

.button:hover {
   color: #fff;
   background-color: #0069d9;
   border-color: #0062cc;
}

.page-content {
   margin: 0 auto;
   padding: 0 20px;
}


.page-content h1 {
   margin: 1rem 0;
   display: inline-block;
   padding-right: 40px;
}


.error,
.success,
.warning {
   color: white;
   padding: 1rem;
   margin-bottom: 0.5rem;
}

.error {
   background-color: #b20202;
}

.success {
   background-color: #04AA6D;

}

.warning {
   background-color: #FFC107;
}

form {
   margin: 0 auto;
   padding: 20px;
   background-color: white;
   border-radius: 4px;
}


input[type=text],
input[type=password],
input[type=email],
input[type=file],
input[type=number],
input[type=date] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
}


input[type=submit] {
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
   padding: 15px;
}


input[type=submit]:hover {
   opacity: 1;
}


label{
   font-weight: bold;
   display: block;
   margin-bottom: 2px;
}

label[required]:after {
   content: " *";
   color: red;
}


footer {
   text-align: center;
   padding: 10px;
   width: 100%;
   margin-top: auto;
}


hr {
   border: 1px solid #e7e7e7;
   margin: 1rem 0;
}

table {
   border-collapse: collapse;
   width: 100%;
}

th,
td {
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #f2f2f2;
}

tr:hover {
   background-color: #ddd;
}

textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.price-input {
   position: relative;
}

.dollar-sign {
   font-size: medium;
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-45%);
}

.price-input #price {
   padding-left: 25px;
}

.card-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card-grid .card {
   flex: 0 0 calc(50% - 10px);
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 5px;
   cursor: pointer;
}

.card-grid .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-grid .card h2 {
   padding: 10px;
   text-align: center;
}

.card-grid .card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   display: block;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.card-grid .card .card-info {
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   font-size: small;
}

.card-grid .card .card-info p {
   margin: 0 0 5px 0;
   font-weight: bold;
   font-size: 18px;
}

.card-grid .card .card-info .price {
   color: green;
}

.card-grid .card .card-info .distance {
   color: #666666;
   font-size: 14px;
}

.food-item {
   border: 1px solid #dddddd;
   border-radius: 10px;
   padding: 20px;
   background: #ffffff;
   margin-bottom: 20px;
}

h2.food-name {
   margin-top: 0;
   font-size: 24px;
   color: #333333;
}

.food-item a {
   display: inline-block;
   margin-bottom: 10px;
   color: #ffffff;
   background-color: #333333;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
   font-size: 14px !important;
}

.food-photo {
   width: 100%;
}

.food-price,
.food-comments,
.food-expiry,
.food-post-info,
.food-location{
   font-size: 16px;
   color: #666666;
   margin-bottom: 10px;
}

.food-price{
   font-weight: bold;
   color: green;
   font-size: 18px;
}

.food-allergens,
.food-tags {
   font-size: 16px;
   color: #666666;
   margin-bottom: 10px;
}

.food-allergens button,
.food-tags button {
   margin-right: 5px;
   padding: 5px 10px;
   background: #eeeeee;
   border: 1px solid #dddddd;
   border-radius: 5px;
   font-size: 14px;
   color: #666666;
}

.button-container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   text-decoration: none;
   background-color: #333;
   color: #fff;
   border-radius: 4px;
   transition: background-color 0.3s ease;
}

.reserve{
   background-color: #367c36 !important;
}

.cancel{
   background-color: #a41313 !important;
}

.disabled {
   cursor: not-allowed !important;
   opacity: 0.6;
}

.search {
   width: 100%;
   margin-bottom: 20px;
}

.search form {
   display: flex;
   flex-direction: column;
}

.search form input[type="text"],
.search form select {
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
   border: solid 1px #ddd;
}

.search form input[type="submit"] {
   cursor: pointer;
   padding: 10px;
   border-radius: 5px;
   border: none;
   color: #fff;
   background-color: #333;
}