{% extends 'layouts/layout.html' %}

{% block title %}{{item.name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/multiSelectTag.css">
<script src="/static/js/multiSelectTag.js"></script>
{% endblock %}

{% block content %}

<div class="page-content">

    <div class="food-item">
        <h2 class="food-name">{{item.name}}</h2>
        
        <div class="btn-container">
            {% if item.user_id == user_id %}
                <a href="{{ url_for('edit_details', listing_id=item._id) }}" class="btn"> Edit Listing </a>
            {% elif reservation %}
                {% if reservation.reserved_by == user_id %}
                    <a href="{{ url_for('cancel', listing_id=item._id) }}" class="btn">Cancel</a>
                {% else %}
                    <a href="#" class="btn disabled">Not Available</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('reserve', listing_id=item._id) }}" class="btn">Reserve</a>
            {% endif %}
        </div>
        
        <img src="/images/{{ item.photo }}" alt="{{ item.name }}" class="food-photo">
        <p class="food-price"> Price: $ {{item.price}}</p>
        <p class="food-comments">{{item.comments}}</p>
        <p class="food-expiry"> Expires on: {{item.expiry}}</p>
        <p class="food-posted-at"> Posted: {{item['created_at'].strftime('%Y-%m-%d')}}</p>
        <p class="food-allergens">Allergens:
            {% for key, value in item.allergens.items() %}
                {% if item.allergens[key] %}
                <button> {{key}} </button>
                {% endif %}
            {% endfor %}
        </p>
        <p class="food-tags"> Tags:
            {% for tag in item.tags %}
            <button> {{tag}} </button>
            {% endfor %}
        </p>
    </div>

    {% if similar_food %}
    <div class="similar-food">
        <h1>You may also like</h1>
            <div class="card-grid">
                {% for food in similar_food %}
                <div class="card">
                    <a href="{{ '/listings/%s'%food._id }}"><img src="/images/{{ food.photo }}" alt="{{ food.name }}"></a>
                    <h2>{{ food.name }}</h2>
                    <p>$ {{ food.price }}</p>
                </div>
                {% endfor %}
            </div>
    </div>
    {% endif %}

</div>
{% endblock %}