{% extends 'layouts/layout.html' %}

{% block title %}{{food.name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/eachFood.css">
{% endblock %}

{% block content %}

<div class="foodItem">
    
    <div class="food-item">
        <h2 class="food-name">{{food.name}}</h2>
        <img src="/images/{{ food.photo }}" alt="{{ food.name }}">
        <p class="food-price"> Price : $ {{food.price}}</p>
        <p class="food-comments">{{food.comments}}</p>
        <p class="expiry"> Expires on : {{food.expiry}}</p>
        <p class="posted-at"> Posted at {{food['created_at'].strftime('%Y-%m-%d')}}</p>
    </div>

</div>



{% endblock %}