{% extends 'layouts/layout.html' %}

{% block title %}Listings{% endblock %}

{% block content %}

<div class="page-content">
  <h1>Listings</h1>
  <a href="/additems">Add Listing</a>
  <a href="/search">Search Food</a>

    {% if listings_array %}
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Distance</th>
                <th>Tags</th>
            </tr>

            {% for item in listings_array %}
            <tr>
                <td>{{ item.name }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

{% endblock %}

