{% extends 'layouts/layout.html' %}

{% block title %}Listings{% endblock %}

{% block content %}

<div class="page-content">
    <h1>Listings</h1>
    <div class="btn-container">
        <a href="{{url_for('add')}}" class="btn">Add Listing</a>
        <a href="{{url_for('search')}}" class="btn">Search Food</a>
    </div>
    
    <div class="card-grid">
        {% for food in listings %}
            <div class="card" onclick="location.href='/listings/{{ food._id }}'">
                <img src="/images/{{ food.photo }}" alt="{{ food.name }}">
                <h2>{{ food.name }}</h2>
                <p>$ {{ food.price }}</p>
                {% if food.user_id != user_id %}
                    {% if food.distance > 1000 %}
                        <p>{{ food.distance/1000|round}} km away</p>
                    {% else %}
                        <p>{{ food.distance|round}} m away</p>
                    {% endif %}
                {% endif %}  
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}