<html>
    <head>
        <title>InfiLingo | Listings</title>
    </head>
    <body>
        {% include "components/navbar.html"%}

        {% if listings_array %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Distance</th>
                    <th>Tags</th>
                </tr>
            {% for item in listings_array %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.location.coordinates}}</td>
                <td>
                    {% for tag in item.tags %}
                    <button>{{tag}}</button>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </table>

        {% endif %}
    </body>
</html>