{% extends 'layouts/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="page-content">
  <h1>Login</h1>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

</div>

<form id = "fill" method="post" action="{{ url_for('login') }}">
  <input type="email" placeholder="Email" name="email" value="{{ email }}" required/><br>
  <input type="password" placeholder="Password" name="password" required/><br>
  <input type="submit" value="Login" />
</form>

{% endblock %}